*{
    margin: 0;
    padding: 0;
}
.background{
    width: 1210px;
    height: 900px;
    background-color: black;
    color: white;
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    /* width: 100%;
    height: 100%; */
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    margin-top: 50px;

}
p{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times;
}
details{
    /* width: 100%; */
    font-family: sans-serif;
    border: 2px solid violet;
    padding: 5px;
}
details p{
    padding: 20px;
    color: #000;
    background: #fff;
}
summary{
    padding: 20px;
    border: 1px solid blue;
    outline: none;
    cursor: pointer;
    display: flex;
    display: flex;
}
section{
    max-width: 80%;
    width: 100%;
}
a{
    color: rgb(47,161,236);
    text-decoration: none;
}
h3{
    margin: 10px;
}
#image{
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px #272525;
}
figcaption{
    margin: 20px;
    font-size: 20px;
    width: 55%;
}
#title{
    color: orange;
}
b{
    color: rgb(172,255,172);
}
#tribute-info{
    width: 50%;
}
@media screen and (max-width:600px) {
    figcaption{
        width: 80%;
        font-size: 15px;
    }
    #tribute-info{
        width: 100%;
    }
    #main{
        margin-top: 0;
    }
}